body{
    width: auto;
    height: auto;
    padding: auto;
    background: rgba(115, 161, 41, 0.418);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: olivedrab;
    border-bottom: 2px dotted darkgreen;
    border-top: 2px dotted darkgreen;
    text-align: center;
}
p{
    font-family: sans-serif;
    color: orange;
}

